<div class="form-container">
  <form action="/search" method="post">
    <div class="input-box">
      <span>Pick-Up</span>
      <input type="search" name="pickup" placeholder="Search Places" />
    </div>
    <div class="input-box">
      <span>Destination</span>
      <input
        type="search"
        name="destination"
        placeholder="Search Places"
      />
    </div>
    <div class="input-box">
      <span>No. of seats</span>
      <input
        type="search"
        name="seats"
        placeholder="Seats"
      />
    </div>
    <div class="input-box">
      <span>Date</span>
      <input type="date" name="date" />
    </div>
    <input style="margin-top: 1.3rem" type="submit" class="btn" />
  </form>
</div>
