<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/signin.css" />
    <link rel="stylesheet" href="css/popupS.css">
  </head>
  <body>
    <div class="dialogbox" id="id01">
      <h2>Please Login To Continue</h2>
      <form class="dialogbox-form" action="/login" method="post">
        <div class="input-box">
          <input type="email" name="email" id="" placeholder="Email" autofocus/>
        </div>
        <div class="input-box">
          <input type="password" name="password" id="" placeholder="Password" />
        </div>
        <a href="/register">Not registered yet?</a>
        <br><br>
        <input type="submit" class="dialog-form-btn" />
        <br />
      </form>
    </div>
  </body>
</html>
